* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-1: #333;
  --text-2: #555;
  --text-3: #888;
  --text-4: #eee;
  --link: #007acc;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  display: grid;
  grid-template: max-content 1fr max-content / max-content 1fr;
}

.header {
  display: grid;
  grid-template: repeat(3, max-content) / 1fr max-content;
  grid-column: 1 / -1;
}

.nav {
  grid-column: 1 / -1;
  background-color: #333333;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 48px;
  list-style-type: none;
}

.nav__item {
}

.nav__link {
  text-decoration: none;
  color: var(--text-4);
}

.nav__link:hover {
  color: #ffffff;
}

.header__name {
  align-self: end;
  margin-left: 56px;
  font-size: 48px;
  font-weight: 800;
  color: var(--text-1);
}

.header__job-title {
  margin-left: 56px;
  font-size: 30px;
  font-weight: 500;
  color: var(--text-3);
}

.header__photo {
  grid-column-start: 2;
  grid-row: 2 / -1;
  margin: 56px 56px 0 56px;
  width: 128px;
  height: 128px;
  border-radius: 64px;
}

.aside {
}

.address {
  padding: 101px 56px 0 56px;
  font-style: normal;
}

.address__list {
}

.address__item {
  list-style-type: none;
  line-height: 150%;
}

.address__link {
  color: var(--link);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.main {
}

.section {
}

.section__heading {
  color: var(--text-1);
  margin: 32px 0 12px 0;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.56px;
}

.section__heading_first {
  margin-top: 56px;
}

.section__subheading {
  color: var(--text-1);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.section__subheading-first {
}

.section__company {
  color: var(--text-1);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.36px;
}

.section__date-stay {
  color: var(--text-1);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
}

.section__paragraph {
  margin: 12px 0 32px 0;
  color: var(--text-2);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.32px;
}

.section__code {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 468px;
  height: 32px;
  padding-left: 16px;

  border-radius: 5px;
  background-color: var(--text-4);
}

.section__list {
}

.section__item {
  list-style-type: none;
}

.footer {
  background-color: #333333;
  grid-column: 1 / -1;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 56px;
}

.footer__paragraph {
  color: var(--text-4);
}

.footer__link {
  color: var(--text-4);
  text-decoration: none;
}

.footer__logo {
  width: 100px;
  height: 48px;
}

hr {
  margin: 200px;
}
